/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	display: grid;
	justify-items: ; /* centers on x-axis */
	align-items: ; /* center on y-axis */
	grid-template-rows: 60px auto;
	grid-template-columns: 1fr 1fr;
	width: 100vw; /* need 100vw to center body div */
	height: 100vh; /* need 100vh to center body div */
	grid-template-areas:
  "nav nav"
  "article aside";
}

nav {

  grid-area: nav;
  border-bottom: 1px solid #B0B0B0;
}

article {
  grid-area: article;
  background-color: ;
}

aside {
  padding: 200px 0 0 200px;
  grid-area: aside;
  background-color: ;
}

.sgm {
	max-width: 75%;
	border: 1px solid blue;
}

h1 {
  margin: 100px 0 50px 100px;
  font-size: 3rem;
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  margin: 0 0 0 100px;
  font-family: 'Roboto Slab', serif;
  line-height: 30px;
}


ul li {
	display: inline-block;
}

ul li a {
	text-decoration: none;
}

.top-menu {
  text-align: center;
  background-color: ;
  padding-top: ; /* padding-top pushes middle div down=bad */
  margin-top: ;
	margin: 0px 0 0px 0; /* if you increase bottom, you must decrease top */
  padding: 20px 0 20px 0;
}

.top-menu li {
	padding-right: 5em;
}

.top-menu li a {
	font-family: 'Roboto', sans-serif;
	background-color: ;
	padding:  ;
	display: ;
	font-size: 0.97rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: ;
	color: #393939;
	/*color: #DADFFF;*/
}

.top-menu li a:hover {
	/*border-bottom: 2px solid #DADFFF;*/
	border-bottom: ;
  color: #CDD3FF;
	transition: ;
}
